@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1562900231078'); /* IE9 */
  src: url('iconfont.eot?t=1562900231078#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABmAAAAJIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsdgE2AiQDCAsGAAQgBYRtBy8bmwURBfzIfhS47QPUr6QvkTtt9RpeSzkH8fDfmu99O5Ow+gBUQAmAElF/21QiyNhWSpYsdM9uTVfAvVER6jtkz7ee5TuSducvn2ecx2mUGEIiJJL19uNmbP7tnwlJMSELQhdSk/k8l9ObQAfS+kC5jDForEmTBlAvDiigvTGKrEgibxi7wCU8JtA0Ya3Yd+DYOXWZtSoQ9+/cuqKeC8kyy9aFas3BLF6qqBePijdehN+PfzZHnUIlsepO3dx/3a6fy85LnbLjvE8IE9DxChLWIhPnalMnJMG4pJnKZthXdfBzXVn6TrFXm2B/nVXZBmNQfk8KV3mr2QJuS96nd37UZGLM3/rw8P3jvus3Pd7bTv+N67x3TwZv3ZBUTRuYedDt3rLvttq1tKsRdatD6XfsAuVLr3RUIPj4nz9d4m3/1Mrg84leCwPly1E/D/XduYPfoujZlXWV5SiyqqgdLIydrqGpiRKwr8ePseb+e8iFuv4RnprxFEndHJnZtaho2YqqunOjaSqPtyixg7kBrHgAIPGEU3144kMG9gvS/BBJJGQ39MJixB1zBCvFFuo7DA2v5LjURNV77MJcSVYV8s4ofohCapNitsQVZY4t/tJlqgQkvEABnsN5ZnDCIzZqe1WXxzHVvck2vETGIVBFoRao3YFBg63IH65M6fN7qBPMKtLSURM/Q8IbxgcpK+lBlvq1V8e9vOJddDJKEUAEW4ACzEOzGQOuft4INZTVj0g4udjuR331dn3j8nVHoMmyFGHPSOha4GuIIgAA') format('woff2'),
  url('iconfont.woff?t=1562900231078') format('woff'),
  url('iconfont.ttf?t=1562900231078') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1562900231078#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfontcuowu {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  color: white;
  position: absolute;
  padding: 5px;
  right: 10px;
  top: 12px;
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e62d";
}

